.maindiv{
    display: flex;
}
.cards{
 width: 70%;
 height: 30%;
 background-color: grey;
}
.sidenav{
    width: 20%;
    height: 100%;
    width: 15%;
}
.middlenav{
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.rightnav{
    width: 10%;
}
.leftnav{
    display: flex;
    justify-content: space-between;
    width: 20%;
    align-items: center;
}
.col{
    height: 50%;
}
.button{
    background-color:blue;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    color:white;
}
.button2{
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
}
.search{
    border-radius: 50%;
}
.name{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.top{
    display: flex;
    justify-content: space-between;
}